# IDE: QT Creator
*.pro.user
*.pro.user.*



# IDE: VisualStudio
*.sln
*.vcxproj
*.vcxproj.*

# VSCode Workspace
*.code-workspace

/.*

.qmake.stash
/debug
/release



# For Windows
/libs

# Features and data base
/data

#python
/src/tests/__pycache__
